.contentWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 720px) {
    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }
}